<!-- templates/auction/profile.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Профиль: {{ user.username }}</h1>
<p>Email: {{ user.email }}</p>

<h2>Статистика</h2>
<ul>
    <li>Всего создано лотов: {{ stats.total_lots }}</li>
    <ul>
        <li>Активных лотов: {{ stats.active_lots }}</li>
        <li>Завершенных лотов: {{ stats.finished_lots }}</li>
    </ul>
    <li>Участвовал в лотах: {{ stats.participated_lots }}</li>
    <ul>
        <li>Потрачено денег: {{ stats.total_spent|floatformat:2 }} руб.</li>
        <li>Сделано ставок: {{ stats.total_bids }}</li>
        <li>Выиграно лотов: {{ stats.won_lots }}</li>
    </ul>
    <li>Оставлено комментариев: {{ stats.total_comments }}</li>
</ul>

<h2>Сменить пароль</h2>
<p><a href="{% url 'password_change' %}" class="btn btn-secondary">Сменить пароль</a></p>

<h2>Мои действия</h2>
<p><a href="{% url 'participation_history' %}" class="btn btn-info">История участия</a></p>
<p><a href="{% url 'win_history' %}" class="btn btn-info">Выигранные и топ-3 лоты</a></p>
<p><a href="{% url 'user_lots' %}" class="btn btn-info">Мои лоты</a></p>
{% endblock %}